<mat-toolbar color="primary">
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span><a routerLink="/"> My App</a></span>
    <span class="example-spacer"></span>
    <button mat-icon-button routerLink="/">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button routerLink="/movies">
        <mat-icon>movies</mat-icon>
    </button>
    <button mat-icon-button routerLink="/about">
        <mat-icon>account_circle</mat-icon>
    </button>
    <!-- <button mat-icon-button routerLink="/user">
        <mat-icon>account_circle</mat-icon>
    </button> -->
</mat-toolbar>